<h3><%= animal_area.forward_sorting_area %></h3>
<table>
  <tr>
    <th>Dogs</th>
    <th>Cats</th>
  </tr>
  <tr>
    <td><%= animal_area.dogs%></td>
    <td><%= animal_area.cats %></td>
  </tr>
</table>
